


<div class="flex items-center gap-2 mb-6">
    <nav class="flex items-center gap-2  text-xs font-medium tracking-wide uppercase opacity-60 ">
        <a class="hover:text-primary transition-colors" href="/">Inicio</a>
        <span class="material-symbols-outlined text-[12px]">chevron_right</span>
        <a class="hover:text-primary transition-colors"  id="coleccion"></a>
        <span class="material-symbols-outlined text-[12px]" id="flecha_derecha">chevron_right</span>
        <span class="text-primary font-bold" id="subcoleccion"></span>
    </nav>
</div>

<script>
    const url_coleccion = document.URL;
    const url = document.URL.split('/');

    if( url_coleccion == "https://luxmiere-beauty.myshopify.com/collections/all"){
        document.getElementById('coleccion').textContent = "Catálogo Completo";
        document.getElementById('coleccion').href= url_coleccion;
        document.getElementById('subcoleccion').style.display = "none"; 
        document.getElementById('coleccion').classList.add('text-primary');
        document.getElementById('flecha_derecha').style.display = "none"; 
    }else{
        document.getElementById('coleccion').textContent = url[3];
        document.getElementById('subcoleccion').textContent = url[4];
        document.getElementById('coleccion').href= url_coleccion;
    }
</script>