
<script id="tailwind-config">
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        "primary": "#e61980",
                        "background-light": "#f8f6f7",
                        "background-dark": "#211119",
                    },
                    fontFamily: {
                        "display": ["Manrope", "sans-serif"]
                    },
                    borderRadius: { "DEFAULT": "0.25rem", "lg": "0.5rem", "xl": "0.75rem", "full": "9999px" },
                },
            },
        }
</script>
<style>
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        body {
            font-family: 'Manrope', sans-serif;
        }
</style>

<section class="bg-background-light">
    <div class="max-w-[1440px] mx-auto px-4 lg:px-20 py-16">
        <div class="flex items-center justify-between mb-8">
            <h2 class="text-3xl font-bold tracking-tight">Categorías Premium</h2>
            <a class="text-primary font-bold text-sm flex items-center gap-1 hover:underline" href="{{ section.settings.enlace_todo }}">
            Ver todo <span class="material-symbols-outlined text-sm">arrow_forward</span>
            </a>
        </div>
        {% render 'card-categorias-index', blocks: section.blocks %}
    </div>
</section>


{% schema %}
  {
    "settings": [
        {
            "type": "url",
            "id": "enlace_todo",
            "label": "Aqui agregas o editas el enlace del boton ver todo"
        }
    ],
    "blocks": [
      {
        "name": "categorias_seccion",
        "type": "text",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Aqui agregas o editas la imagen"
            },
            {
                "type": "text",
                "id": "titulo",
                "label": "Aqui agregas o editas el titulo"
            },
            {
                "type": "text",
                "id": "subtitulo",
                "label": "Aqui agregas o editas el subtitulo"
            },
            {
                "type": "url",
                "id": "enlace",
                "label": "Aqui agregas o editas el enlace de la tarjeta"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "categorias_seccion"

      }
    ]
  }
{% endschema %}

