<section class="py-16 bg-white dark:bg-[#2d1a24]">
    <div class="max-w-[1440px] mx-auto px-4 lg:px-20 text-center">
        <h2 class="text-2xl font-bold mb-2">Comunidad Luxe</h2>
        <p class="text-[#886375] dark:text-white/60 mb-10">Compártenos tu look con #LuxeBeautyMX</p>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-2">
            <div class="aspect-square bg-gray-200 overflow-hidden group relative">
                <img class="w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-80" data-alt="Lifestyle photo of model wearing luxury makeup" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBtOIV1-kC9AEBbWeEh6Ya0jrydzCsTovex1hi7kue8SG-mTAgo5JCE4EUx0RqLCk8rdsd0x3dQBodf_HrmzrJBj26nSkuvLGjAJwLvLAVA1H5mWHxCtk-CJ-maoZqH-xiUVr3xu5U1b6eO9IPqu_claBXU-hLmF41897pgVcKwDUvTQdCDuMR1azsQihHjUSh8ZJrmxgRYFKQ9Noq4LlLj4CPoKWnG-Mjae11ae1hCRoxJDp3aLMJrhrKYWRCGCRNbyWS2CxRPug"/>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                    <span class="material-symbols-outlined text-white text-3xl">favorite</span>
                </div>
            </div>
            <div class="aspect-square bg-gray-200 overflow-hidden group relative">
                    <img class="w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-80" data-alt="Close up of eye makeup detail" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDeaD4OqkwDNj0jT4unXgCLpJh8OIJJQdrVQu5a_WJPphxRgFglRQIUl_ajWsDT6jw9gG3-26rAC9372OZOZ01HiZMo-5hDZ5827bL4D98goYwGdoKy8aJKDvpdqJp2sNZacFj_gOdjjM5e952C8z55eah5lO3V-sYQ9giu2tVm_GPuKGEwM4n51lD5I6ZTEV-7YKqoVUh_qqMH_NcGkq6izfHhRC8nTAaU-df8WpCUsm6_cLRuXPWUmTA4DYnsz8j1eRStxfNjMQ"/>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                    <span  span class="material-symbols-outlined text-white text-3xl">favorite</span>
                </div>
            </div>
            <div class="aspect-square bg-gray-200 overflow-hidden group relative">
                    <img class="w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-80" data-alt="Editorial beauty photography with vibrant colors" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBtqv8VPTnExJflmNei4cKYznrWR8QPSlr22zS34dtneR8kyasLjQF1ULDntcL7bk9aWBJH6mHSG6lv2stoznoj6OKDuRKvOfJn_ANXhEQ1SjkP99BhdPgKFd6JMAHwWUtFDrzvSpHcUiu4hYMbPWaaABnD6kTwzqaDr8QJQJO7L4dajhnaHIm04ofXV7JqMrH-WywEPtjID3wtIniJ5r-fhxoJ2pN4vPtYTLJAwJHlVssQGkjvruVD9f0wZ2mxU_xBd03jSWSzng"/>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                    <span class="material-symbols-outlined text-white text-3xl">favorite</span>
                </div>
            </div>
            <div class="aspect-square bg-gray-200 overflow-hidden group relative">
                    <img class="w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-80" data-alt="Product swatch photography on skin" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDg-Gj8_6OFi5Cf6o7PQZmflVc69Cbvk15nAlvhnMC49Z3l7McKaeYtO0UCL6PtOlW8LtJR9qSk-Rxi-WkLiqBKBAg-KWMD_3otQDJbqD4XLDfs91-qQJ01dS_r28WwkaYEMz98vwmCtHZfT9rYM3d6Py6oE9CEYoONsHfrh6TmE3xeujvnJRJYArTuUexbGROMdfC7_-SOnAqPUetjLAjpGbOV_9IL5eC9amHaqVhgdVPkybzqCpwTYjpfhO_kz0HE_H-HbVnsVw"/>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                    <span class="material-symbols-outlined text-white text-3xl">favorite</span>
                </div>
            </div>
            <div class="aspect-square bg-gray-200 overflow-hidden group relative">
                    <img class="w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-80" data-alt="Skincare routine lifestyle photography" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDMsTGoNKnNig4mtIIztgbfBKhVAZEXkRRRcQpDyYRWVC2oQzTRL_r2jqJQxRBgup95n7W0C7Ld2hlXV-tizYLCeDv327wraWbSpjHwVvU7S_08Pl2nECFWniTu3RkENulZhEddvT_Vfz1f172MVCW7mITDfszoBHnBj3OJ45nLRbyKW6VPim9ssE5yMkLZn-m-HRHY1GymQjgTeGLbk-Ah5ACnN4sNdwvo3vT6dNqRRcclVhy0NN7vgCQDwXqnwbOIPc3-vUMHxA"/>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                    <span class="material-symbols-outlined text-white text-3xl">favorite</span>
                </div>
            </div>
            <div class="aspect-square bg-gray-200 overflow-hidden group relative">
                    <img class="w-full h-full object-cover transition-opacity duration-300 group-hover:opacity-80" data-alt="Beauty counter aesthetic with products" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBQyRNGquVwNOy6kX4GEvNx4ope1YSBMBwm6nkBt3HiO4TZKyZilEcSukJKWRF_UFYr79qu3lY_aIhkWcTdFtr3lPqWHx-LPzphwv3INytHjRv5dXm-DrxGpzl4_4K2LwFMEsvNRKaDZLRjaadUocB5JZ6opich4xTZQDAVgzO2eoZ1_pNuSGTT_U1OTbhRZAkl9YZc8Dgwtkd7vhN-S08BrONNkZvGsP_9R6wKgIvolIlp7DJhVX5UHqXx91aLFbpw8UtpxPHQmg"/>
                <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                    <span class="material-symbols-outlined text-white text-3xl">favorite</span>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "instagram_seccion",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "instagram_seccion"

      }
    ]
  }
{% endschema %}